{% extends "base.html" %} 
{% block title %}{{ project.name }} - Edit{% endblock %} 
{% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register" style="color: white; background-color: rgba(58, 58, 158, 0.8)">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">
        Edit Project {{ project.name }}
      </h1>
      <br />
      {{ form.name.label() }} 
      {{ form.name(class= "form-control", placeholder= "Enter project's name") }} 

      {{ form.description.label() }} 
      {{ form.description(class= "form-control", placeholder= "Enter project's description") }}

      {{ form.source_code.label() }}
      {{ form.source_code(class= "form-control", placeholder= "Insert your code here")}}
      <br />
      {{ form.submit(class= "btn btn-lg btn-block btn-primary")}}
    </form>
  </div>
</body>

{% endblock %}